<%
alertmap = {'error': 'error', 'success': 'success', 'notice': 'info'} 
iconmap = {'error': 'remove', 'success': 'ok', 'notice': 'ok'}
messages = h.flash.pop_messages()
if not messages and hasattr(c, 'form') and 'csrf_token' in c.form.errors:
	message = c.form.errors.pop('csrf_token')[0]
	msg = h.Msg('error', message)
	messages.append(msg)
%>
% if messages:
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="alert alert-${alertmap[messages[0].category]}">
			<button class="close" data-dismiss="alert" type="button">
				<i class="icon-remove"></i>
			</button>
			<strong><i class="icon-${iconmap[messages[0].category]}"></i></strong> ${messages[0]}
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<!-- <div class="space-6"></div> -->
% endif
