<div id="currimgs" class="wysiwyg-dialog-modal-div" style="display: none;">
	<div style="display: block; width: 450px; height: 300px; left: 484.5px; top: 129.333px;" class="wysiwyg-dialog">
		<div class="wysiwyg-dialog-topbar">
			<div class="wysiwyg-dialog-close-wrapper">
				<a href="#" class="wysiwyg-dialog-close-button">X</a>
			</div>
			<div class="wysiwyg-dialog-title">Insert image</div>
		</div>
		<div class="wysiwyg-dialog-content">
			<div class="wysiwyg-files-wrapper">
				${h.portable_img('imgs/ajax-pager.gif', 'Loading...', id='fileloading')}
			    <div class="wysiwyg-files-action-upload" title="Upload new file to current directory"></div>
				<input style="display: none;" name="submit" value="Select" type="button" />
			</div>
		</div>
	</div>
</div>
<div id="imgupload" class="wysiwyg-dialog-modal-div" style="display: none;">
	<div style="display: block; width: 450px; height: 300px; left: 484.5px; top: 129.333px;" class="wysiwyg-dialog">
		<div class="wysiwyg-dialog-topbar">
			<div class="wysiwyg-dialog-close-wrapper"><a href="#" class="wysiwyg-dialog-close-button">X</a></div>
			<div class="wysiwyg-dialog-title">Upload File</div>
		</div>
		<div class="wysiwyg-dialog-content">
		</div>
	</div>
</div>