<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
			<li>${h.link_to(_('Domain details'), url(controller='domains', action='detail', domainid=c.domain.id))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<h3 class="head smaller lighter blue">${_('Domain settings')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
			<div class="span6">
				<ul class="reports">
		            <li><i class="icon-star blue"></i> ${h.link_to(_('Signatures'), url('domain-settings-sigs', domainid=c.domain.id))}</li>
		            <li><i class="icon-star blue"></i> ${h.link_to(_('Content Protection'), url('set-domain-policies', domain_id=c.domain.id))}</li>
					<li><i class="icon-star blue"></i> ${h.link_to(_('Import Accounts'), url('accounts-import', domainid=c.domain.id))}</li>
					<li><i class="icon-star blue"></i> ${h.link_to(_('Export Accounts'), url('accounts-export-bydom', domainid=c.domain.id))}</li>
		        </ul>
			</div>
			<div class="span6">
				<ul class="reports">
					<li><i class="icon-star blue"></i> ${h.link_to(_('Add delivery server'), url('dserver-add', domainid=c.domain.id))}</li>
					<li><i class="icon-star blue"></i> ${h.link_to(_('Add authentication settings'), url('domains-add-auth', domainid=c.domain.id))}</li>
					<li><i class="icon-star blue"></i> ${h.link_to(_('Add Alias Domain'), url('domains-add-alias', domainid=c.domain.id))}</li>
					<li><i class="icon-star blue"></i> ${h.link_to(_('DKIM'), url('domain-dkim', domainid=c.domain.id))}</li>
		        </ul>
			</div>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="title()">
${_('Settings :: Domain settings :: %s') % c.domain.name}
</%def>

<%def name="heading()">
${_('Settings :: Domain settings :: %s') % c.domain.name}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">
</%def>

<%inherit file="../base.html"/>
