<div class="alpos">
	<div class="grid_16">
		<ul id="msgops">
			<li>${h.link_to(_('Domain Settings'), url('domain-settings', domainid=c.sign.domain_id))}</li>
			<li>${h.link_to(_('Domain details'), url(controller='domains', action='detail', domainid=c.sign.domain_id))}</li>
		</ul>
	</div>
</div>
<div class="clear"></div>
<div id="content">
	<div class="grid_16">
		<h3 class="head">${_('Delete email signature')}</h3>
	</div>
	${h.form(url('domain-sigs-delete', sigid=c.sign.id), method='post')}
	${h.HTML.div(c.form.csrf_token, style="display: none;")}
	% if c.form.signature_content.errors:
	<div class="grid_16 drow"><div class="formerror">${u', '.join([unicode(e) for e in c.form.signature_content.errors])}</div></div>
	% endif
	<div class="grid_16 drow">
	    ${c.form.signature_content(readonly='readonly')}
	</div>
	<div class="grid_16 drow">
	    <div class="grid_5">${c.form.enabled.label}</div>
	    <div class="grid_5">${c.form.enabled}</div>
		<div class="grid_5"></div>
	</div>
	<div class="grid_16 drow">
	    <div class="grid_7">&nbsp;</div>
	    <div class="grid_8">
			${h.submit('submit', _('Delete signature'))}
	    </div>
	</div>
	${h.end_form()}\
</div>


<%def name="title()">
${_('Settings :: Delete email signatures')}
</%def>

<%def name="heading()">
${_('Settings :: Delete email signatures')}
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">
</%def>

<%inherit file="/base.html"/>