<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	<h3 class="head smaller lighter blue">${_('Configuration Settings')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
		    <div class="span6">
		        <ul class="reports">
					% for i, section in enumerate(c.sections):
					%  if not i % 2:
					<li><i class="icon-star blue"></i> ${h.link_to(c.sections[section], url('scanner-section', serverid=c.scanner.id, sectionid=section))}</li>
					%  endif	
					% endfor
		        </ul>
		    </div>
		    <div class="span6">
		        <ul class="reports">
					% for i, section in enumerate(c.sections):
					%  if i % 2:
					<li><i class="icon-star blue"></i> ${h.link_to(c.sections[section], url('scanner-section', serverid=c.scanner.id, sectionid=section))}</li>
					%  endif	
					% endfor
		        </ul>
		    </div>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>

<%def name="title()">
${_('Settings :: scanning server :: %(name)s') % dict(name=c.scanner.hostname)}
</%def>

<%def name="heading()">
${_('Settings :: scanning server :: %(name)s') % dict(name=c.scanner.hostname)}
</%def>

<%def name="submenu()"></%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">
</%def>

<%inherit file="../base.html"/>
