<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
			<li>${h.link_to(_('General'), url.current(sectionid=1))}</li>
			<li>${h.link_to(_('Message Processing'), url.current(sectionid=2))}</li>
			<li>${h.link_to(_('Virus checks'), url.current(sectionid=3))}</li>
			<li>${h.link_to(_('Content checks'), url.current(sectionid=4))}</li>
			<li>${h.link_to(_('Reporting'), url.current(sectionid=5))}</li>
			<li>${h.link_to(_('Notice'), url.current(sectionid=6))}</li>
			<li>${h.link_to(_('Spam checks'), url.current(sectionid=7))}</li>
			<li>${h.link_to(_('Logging'), url.current(sectionid=8))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<h3 class="head smaller lighter blue">${c.sections[int(c.sectionid)]}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		${h.form(url('scanner-section', sectionid=c.sectionid, serverid=c.serverid), id='settingform', method='post', class_="form-horizontal")}
		<%include file="../forms/base.html"/>
		<div class="form-actions">
			<button id="submit-button" class="btn btn-small btn-success"><i class="icon-save"></i> ${ _('Save settings')}</button>
		</div>
		${h.end_form()}\
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="title()">
${_('Settings :: MailScanner :: %(section)s :: %(name)s') % dict(section=c.sections[int(c.sectionid)], name=c.scanner.hostname)}
</%def>

<%def name="heading()">
${_('Settings :: MailScanner :: %(section)s :: %(name)s') % dict(section=c.sections[int(c.sectionid)], name=c.scanner.hostname)}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>

<%inherit file="../base.html"/>
