mbox
mbox2
data
dist
dev
*.DS_Store
*.mo
*.pyc
*.so
*.lic
.sass-cache
extras/*.csv
extras/js
extras/snippets
extras/scripts/tests/*
*dump.sql
baruwa/public/css/*.css
baruwa/public/js/baruwa/*.js
compass/stylesheets/*.css
baruwa.egg-info
*invite*
Lena-eximconf-run.txt
extras/sql/encoding-issues.sql
docs/build
debian
docs/api/build
extras/ssl
extras/patches/git
extras/perl/snf-report.pl
extras/scripts/create-mailscanner-lists.py
extras/scripts/fabric/*.py*
extras/scripts/fabric/*.sh*
extras/saupdate/*.ini
extras/saupdate/archives/*
extras/saupdate/package/*
extras/scripts/exim-test.sh
cython/*.c
