include README.rst
include requirements.txt
include baruwa/baruwa.wsgi
include baruwa/config/deployment.ini_tmpl
include baruwa/config/sql/integration.sql
include baruwa/config/sql/functions.sql
include baruwa/config/sql/admin-functions.sql
include extras/perl/BS.pm
include extras/perl/baruwa-backup2db.pl
include extras/perl/exim-bcrypt.pl
include extras/packaging/baruwa.*
recursive-include debian *
recursive-include extras/config *
recursive-include extras/patches *
recursive-include baruwa/public *
recursive-include baruwa/templates *
recursive-include baruwa/i18n *
recursive-include extras/scripts/init *
