Babel
Beaker
FormEncode
http://geolite.maxmind.com/download/geoip/api/python/GeoIP-Python-1.2.4.tar.gz
IPy
M2Crypto
Mako
MarkupSafe
Pillow
Paste
PasteDeploy
PasteScript
Pygments
Pylons
Routes
SQLAlchemy
Tempita
WTForms
WebError
WebHelpers
WebOb
WebTest
amqplib
anyjson
billiard
celery
cracklib
decorator
distribute
greenlet>=0.3
eventlet
kombu
lxml
python-dateutil==1.5
marrow.interface
marrow.mailer
marrow.util
futures
psutil
psycopg2
mysql-python
py-bcrypt
pylibmc
pyparsing
pyrad
python-ldap
-e git://github.com/ahupp/python-magic.git@d033eb46a8ace66cf795c54168a197228e47ce9e#egg=python_magic-dev
reportlab
repoze.lru
repoze.what==1.0.9
repoze.what-pylons==1.0
repoze.what.plugins.config==0.2.1
repoze.what.plugins.sql==1.0.1
repoze.who==1.0.19
repoze.who-friendlyform==1.0.8
repoze.who-testutil==1.0.1
repoze.who.plugins.ldap==1.1a1
repoze.who.plugins.sa==1.0.1
simplejson
six
wsgiref
zope.interface
