<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
		  <li>${h.link_to(_('Return to account'), url('account-detail', userid=c.id))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	<h3 class="head smaller lighter blue">${_('Create alias address')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		${h.form(url(controller='accounts', action='addaddress', userid=c.id), method='post', class_="form-horizontal")}
		<%include file="../forms/base.html"/>
	    <div class="form-actions">
			<button id="submit-button" class="btn btn-small btn-success"><i class="icon-plus"></i> ${_('Create')}</button>
	    </div>
		${h.end_form()}
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="title()">
${_('Accounts :: Create alias address')}
</%def>

<%def name="heading()">
${_('Accounts :: Create alias address')} 
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>
<%inherit file="../base.html"/>
