<div class="alpos">
	<div class="grid_16">
		<ul id="msgops">
		  <li>${h.link_to(_('Return to account'), url('account-detail', userid=c.id))}</li>
		</ul>
	</div>
</div>
<div id="content">
<div class="grid_16">
    <h3 class="head">${_('Create alias address')}</h3>
</div>
${h.form(url(controller='accounts', action='addaddress', userid=c.id), method='post')}
<%include file="/forms/base.html"/>
    <div class="grid_16 drow">
        <div class="grid_7">&nbsp;</div>
        <div class="grid_8">
            <input id="cancel-button" type="reset" value="${_('Reset')}" />&nbsp;
            ${h.submit('submit', _('Create'))}
        </div>
    </div>
${h.end_form()}
</div>

<%def name="title()">
${_('Accounts :: Create alias address')}
</%def>

<%def name="heading()">
${_('Accounts :: Create alias address')} 
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">\
</%def>
<%inherit file="/base.html"/>