<div class="alpos">
	<div class="grid_16">
		<ul id="msgops">
		  <li>${h.link_to(_('Return to account'), url('account-detail', userid=c.userid))}</li>
		</ul>
	</div>
</div>
<div id="content">
<div class="grid_16">
    <h3 class="head">${_('Delete alias address')}</h3>
</div>
${h.form(url(controller='accounts', action='deleteaddress', addressid=c.id), method='post')}
<%include file="/forms/disabled.base.html"/>
    <div class="grid_16 drow">
        <div class="grid_7">&nbsp;</div>
        <div class="grid_8">
            ${h.submit('submit', _('Delete'))}
        </div>
    </div>
${h.end_form()}
</div>

<%def name="title()">
${_('Accounts :: Delete alias address')}
</%def>

<%def name="heading()">
${_('Accounts :: Delete alias address')} 
</%def>

<%def name="submenu()">
% if c.user.account_type != 3:
<ul>
  <li>${h.link_to(_('Account details'), url('account-detail', userid=c.userid))}</li>
</ul>
% endif
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">\
</%def>
<%inherit file="/base.html"/>