<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	<h3 class="head smaller lighter blue">${_('Accounts Export Status')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	% if c.finished:
		<div class="row-fluid">
		% if c.results and c.results['f']:
		${_('The export has been processed, ')}${h.link_to(_('Download the csv file'), url('accounts-export-status', taskid=c.results['id'], d='y'))}
		% else:
			${_('The CSV export failed: %s') % c.results['global_error']}
		% endif
		</div>
		% else:
		<div class="row-fluid">
			<%
			count = session['acexport-count']
			if count > 10:
				count = 10
			percent = h.percent_of(count, 10)
			%>
			${h.portable_img('imgs/ajax-pager.gif', alt="")} ${_('The request is being processed. %d%%') % percent}
		</div>
		% endif
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="headers()">\
% if not c.finished:
<meta http-equiv="refresh" content="5" />
% endif
</%def>
<%def name="title()">\
${_('Accounts :: User export status')}
</%def>
<%def name="heading()">\
${_('Accounts :: User export status')}
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
</%def>
<%inherit file="../base.html"/>
