<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
		  	<li>${h.link_to(_('Domain Settings'), url('domain-settings', domainid=c.domain.id))}</li>
			<li>${h.link_to(_('Domain details'), url(controller='domains', action='detail', domainid=c.domain.id))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	<h3 class="head smaller lighter blue">${_('Import accounts')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
    	${h.form(url('accounts-import', domainid=c.domain.id), method='post', multipart=True, class_="form-horizontal")}
		<%include file="../forms/base.html"/>
		<div class="form-actions">
			<button id="submit-button" class="btn btn-small btn-success"><i class="icon-ok"></i> ${_('Import')}</button>
		</div>
		${h.end_form()}\
	</div>
	<div class="span1 hidden-phone"></div>
</div>



<%def name="title()">
${_('Accounts :: %(dom)s :: Import accounts') % dict(dom=c.domain.name)}
</%def>

<%def name="heading()">
${_('Accounts :: %(dom)s :: Import accounts') % dict(dom=c.domain.name)}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>

<%inherit file="../base.html"/>
