<div class="row-fluid">
    ${h.form(url('message-detail', msgid=c.msg.id), id='qform', method='post')}
    <div class="span1">${h.highlight_errors(c.form.release)}${c.form.release.label}</div>
    <div class="span1">${h.highlight_errors(c.form.delete)}${c.form.delete.label}</div>
    <div class="span3">${h.highlight_errors(c.form.learn)}${c.form.learn.label}&nbsp;${h.highlight_errors(c.form.learnas)}</div>
    <div class="span2">${h.highlight_errors(c.form.usealt)}${c.form.usealt.label}</div>
    <div class="span3">${h.highlight_errors(c.form.altrecipients, class_="input-block-level", placeholder='Alternative recipients')}</div>
    <div class="span2"><button id="submit_q_request" class="btn btn-small btn-success"><i class="icon-cog"></i> ${_('Submit')}</button></div>
	${c.form.csrf_token}
    ${h.end_form()}
</div>
