<div class="row-fluid" id="relayedhosts">
<% relay_hosts = h.relayed_via(c.msg.headers) %>
% if not relay_hosts:
	<div class="span12">
		&nbsp;&nbsp;&nbsp;-- direct connection --
	</div>
% else:
% for relay in relay_hosts:
	<div class="row-fluid">
		<div class="span3">${h.wrap_paragraphs(relay['ip_address'], 18)}</div>
		<div class="span7 hidden-phone">${h.wrap_paragraphs(relay['hostname'], 35)}</div>
		<div class="span2">
			% if relay['country_code'] and relay['country_code'] != 'unknown':
			${h.portable_img("imgs/flags/"+relay['country_code']+".png", relay['country_code'], class_="positio", title=relay['country_name'])}
			% endif
		</div>
	</div>
% endfor
% endif
</div>
