<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		${h.form(url.current(), method='post')}
		<div class="row-fluid">
			<div class="span12">
				<table class="table table-bordered table-condensed table-hover table-striped">
				<thead>
				<tr>
					<th>&nbsp;</th>
					<th>${_('Domain Name')}</th>
					<th>${_('Organization')}</th>
					<th>${_('Accounts')}</th>
					<th>${_('Status')}</th>
					<th colspan="2">${_('Actions')}</th>
				</tr>
				</thead>
				<tbody>
				% if not c.page.items:
				<tr><td class="spanrow" colspan="7">${_('No domains found')}</td></tr>
				% endif
				% for domain in c.page.items:
				<tr class="highspam">
					<td>&nbsp;</td>
					<td>
						${domain.name}
					</td>
					<td>
						<%
						orglinks = []
						for index, org in enumerate(domain.organizations):
							orglinks.append(org.name)
						orglinks = ', '.join(orglinks)
						%>
						${orglinks|n}
					</td>
					<td>${h.literal('<i class="icon-user"></i>')}</td>
					<td>${functions.item_status(domain.status)}</td>
					<td>${h.literal('<i class="icon-edit"></i>')}</td>
					<td>${h.literal('<i class="icon-remove red"></i>')}</td>
				</tr>
				% endfor
				</tbody>
				</table>
			</div>
		</div>
		<div class="row-fluid mkbox">
			<div class="span10">&nbsp;</div>
			<div class="span2">
				<button id="submit-button" class="btn btn-small btn-success"><i class="icon-thumbs-up"></i> ${_('Yes Delete')}</button>
			</div>
		</div>
		${h.end_form()}\
	</div>
	<div class="span1 hidden-phone"></div>
</div>

<%def name="title()">\
${_('Domains :: Confirm bulk domain deletion')}
</%def>

<%def name="heading()">\
${_('Domains :: Confirm bulk domain deletion')}
</%def>

<%def name="headers()">\
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>
<%namespace name="functions" file="../includes/functions.html"/>
<%inherit file="../base.html"/>
