<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
			<li>${h.link_to(_('Domain details'), url(controller='domains', action='detail', domainid=c.id), class_="form-horizontal")}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
		    <h3 class="head smaller lighter blue">${_('Delete Domain')}</h3>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		${h.form(url('domain-delete', domainid=c.id), method='post', class_="form-horizontal")}
		<%include file="../forms/disabled.base.html"/>
		<div class="form-actions">
			<button id="submit-button" class="btn btn-small btn-success"><i class="icon-ok"></i> ${_('Delete domain')}</button>
		</div>
		${h.end_form()}\
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>

<%def name="title()">
${_('Domains :: Delete Domain')}
</%def>

<%def name="heading()">
${_('Domains :: Delete Domain')}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>
<%inherit file="../base.html"/>
