<div id="content">
<div class="grid_16">
    <h3 class="head">${_('Add a Domain')}</h3>
</div>
${h.form(url(controller='domains', action='add'), method='post')}
<%include file="/forms/base.html"/>
<div class="grid_16 drow">
    <div class="grid_7">&nbsp;</div>
    <div class="grid_8">
        <input id="cancel-button" type="reset" value="${_('Reset')}" />&nbsp;
		${h.submit('submit', _('Add Domain'))}
    </div>
    
</div>
${h.end_form()}\
</div>

<%def name="title()">
${_('Domains :: Add a Domain')}
</%def>

<%def name="heading()">
${_('Domains :: Add a Domain')}
</%def>

<%def name="submenu()">
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">\
</%def>
<%inherit file="/base.html"/>