<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<h3 class="head smaller lighter blue">${_('Testing Destination server connectivity')}</h3>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid" id="testprogress">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
			<div class="span4">&nbsp;</div>
			<div class="span8">${h.portable_img('imgs/large-progress.gif', 'Loading')} <strong>${_(_('Please wait while i test the connections.....'))}</strong></div>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>



<%def name="title()">
${_('Settings :: Test Destination server :: %s') % c.server.address}
</%def>

<%def name="heading()">
${_('Settings :: Test Destination server :: %s') % c.server.address}
</%def>

<%def name="headers()">
% if not c.finished:
<meta http-equiv="refresh" content="5" url="${url.current(taskid=c.taskid)}" />
% endif
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">
</%def>

<%inherit file="../base.html"/>
