<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
			<li>${h.link_to(_('Organization details'), url('org-detail', orgid=c.orgid))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
		    <h3 class="head smaller lighter blue">${_('Add outbound settings')}</h3>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
		    ${h.form(url('orgs-add-relay', orgid=c.orgid), method='post', class_="form-horizontal")}
			<%include file="../forms/base.html"/>
			<div class="form-actions">
				<button id="reset-button" class="btn btn-small btn-success" type="reset"><i class="icon-undo"></i> ${_("Clear")}</button>
				<button id="submit-button" class="btn btn-small btn-success"><i class="icon-plus"></i> ${_('Add settings')}</button>
			</div>
			${h.end_form()}\
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="title()">
${_('Organizations :: %(name)s :: Add outbound settings') % dict(name=c.orgname)}
</%def>

<%def name="heading()">
${_('Organizations :: %(name)s :: Add outbound settings') % dict(name=c.orgname)}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
<script type="text/javascript">
$(function() {
	$('.settings-popover').popover();
});
</script>
</%def>

<%inherit file="../base.html"/>
