<div class="alpos">
	<ul id="msgops">
		<li>${h.link_to(_('Organization details'), url('org-detail', orgid=c.orgid))}</li>
	</ul>
</div>
<div class="clear"></div>
<div id="content">
<div class="grid_16">
    <h3 class="head">${_('Add outbound settings')}</h3>
</div>
${h.form(url('orgs-add-relay', orgid=c.orgid), method='post')}
<%include file="/forms/base.html"/>
<div class="grid_16 drow">
    <div class="grid_7">&nbsp;</div>
    <div class="grid_8">
        <input id="cancel-button" type="reset" value="${_('Reset')}" />&nbsp;
		${h.submit('submit', _('Add settings'))}
    </div>
    
</div>
${h.end_form()}\
</div>

<%def name="title()">
${_('Organizations :: %(name)s :: Add outbound settings') % dict(name=c.orgname)}
</%def>

<%def name="heading()">
${_('Organizations :: %(name)s :: Add outbound settings') % dict(name=c.orgname)}
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">
</%def>

<%inherit file="/base.html"/>