<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<ul id="msgops">
			<li>${h.link_to(_('Export accounts'), url('accounts-export-byorg', orgid=c.org.id))}</li>
			<li>${h.link_to(_('Import domains'), url('orgs-import-domains', orgid=c.org.id))}</li>
			<li>${h.link_to(_('Add relay settings'), url('orgs-add-relay', orgid=c.org.id))}</li>
			<li>${h.link_to(_('Edit'), url('orgs-edit', orgid=c.org.id))}</li>
			<li>${h.link_to(_('Delete'), url(controller='organizations', action='delete', orgid=c.org.id))}</li>
		</ul>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="space-6"></div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
		<div class="row-fluid">
		    <h3 class="head smaller lighter blue">${_('Organization information')}</h3>
		</div>
	</div>
	<div class="span1 hidden-phone"></div>
</div>
<div class="row-fluid">
	<div class="span1 hidden-phone"></div>
	<div class="span10">
	    <div class="row-fluid">
			<div class="span6 real-half">
				${_('Organization name')}:
			</div>
			<div class="span6 real-half">
				${c.org.name}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 real-half">
				${_('Number of Domains')}:
			</div>
			<div class="span6 real-half">
				${len(c.org.domains)}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 real-half">
				${_('List Domains')}:
			</div>
			<div class="span6 real-half">
				${h.link_to(_('Organization domains'), url('domains-byorg', orgid=c.org.id))}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 real-half">
				${_('Organization Admins')}:
			</div>
			<div class="span6 real-half">
				% for index, admin in enumerate(c.org.admins):
				${h.link_to(admin.username, url('account-detail', userid=admin.id))}
				% if index != (len(c.org.admins) - 1):
				,
				% endif
				% endfor
			</div>
		</div>
		<div class="row-fluid">
		    <h3 class="head smaller lighter blue">${_('Outbound relay settings')}</h3>
		</div>
		% for settings in c.org.relaysettings:
		<div class="row-fluid">
			<div class="span9">
				% if settings.address:
				${_('Relay Host: %(name)s [%(description)s]') % dict(name=settings.address, description=settings.description)}
				% else:
				${_('SMTP-AUTH: %(name)s [%(description)s]') % dict(name=settings.username, description=settings.description)}
				% endif
			</div>
			<div class="span1 half">
				${functions.item_status(settings.enabled)}
			</div>
			<div class="span1 half">
				${h.link_to(h.literal('<i class="icon-edit blue"></i>'), url('orgs-edit-relay', settingid=settings.id))}
			</div>
			<div class="span1 half">
				${h.link_to(h.literal('<i class="icon-remove red"></i>'), url('orgs-del-relay', settingid=settings.id))}
			</div>
		</div>
		% endfor
		% if not c.org.relaysettings:
		<div class="row-fluid">
			<div class="span12">${_('No outbound relay settings configured')}</div>
		</div>
		% endif
	</div>
	<div class="span1 hidden-phone"></div>
</div>


<%def name="title()">
${_('Organizations :: ') + c.org.name}
</%def>

<%def name="heading()">
${_('Organizations :: ') + c.org.name}
</%def>

<%def name="headers()">
</%def>
<%def name="submenu()"></%def>
<%def name="localscripts()">\
</%def>
<%namespace name="functions" file="../includes/functions.html"/>
<%inherit file="../base.html"/>
