<div class="alpos">
	<ul id="msgops">
		<li>${h.link_to(_('Organization details'), url('org-detail', orgid=c.org.id))}</li>
	</ul>
</div>
<div class="clear"></div>
<div id="content">
<div class="grid_16">
    <h3 class="head">${_('Import domains')}</h3>
</div>
${h.form(url('orgs-import-domains', orgid=c.org.id), method='post', multipart=True)}
<%include file="/forms/base.html"/>
<div class="grid_16 drow">
    <div class="grid_7">&nbsp;</div>
    <div class="grid_8">
		${h.submit('submit', _('Import'))}
    </div>
</div>
${h.end_form()}\
</div>

<%def name="title()">
${_('Organizations :: %(org)s :: Import domains') % dict(org=c.org.name)}
</%def>

<%def name="heading()">
${_('Organizations :: %(org)s :: Import domains') % dict(org=c.org.name)}
</%def>

<%def name="headers()">
</%def>
<%def name="localscripts()">
</%def>

<%inherit file="/base.html"/>